@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap");

body {
    background-color: hsl(201, 46%, 38%);
}
#comingsoon {
    color: gray;
    font-size: 50px;
    margin-top:100px;
    margin-bottom: -15px;
    margin-left: 560px;
    font-family: "Big Shoulders Stencil Text"
}
#logo {
    margin-top: -40px;
    margin-left: 500px;
}
#checkback {
    
    margin-left: 560px;
    font-size: 50px;
    margin-top: -50px;
    font-family: "Big Shoulders Stencil Text"
}
img {
    max-width: 100%;
    max-height: 100%;
  }
