@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

html, body {
    height: 100%;
}
/* top bar, logo, and catchphrase */
.tccmakerspacetop{
    height: 125px;
    background-color: hsl(205, 42%, 39%); 
}
#catchphrase {
    position: relative;
    left: 40px; 
    top: 55px;
    font-family: 'Goldman', cursive;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 200;
    color: white;
  }
#tccmakerspace {
    position: absolute;
    left: 50px;
    font-size: 50px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: white;
}
#tccmakerspace:hover {
    color:#b8b8b8;
}
#minilogo {
  position: absolute;
  left: 5px;
  top: 15px;  
}
/* Nav Menu */
ul {
  position: relative;
  top: 40px;
  left: 5px;
  list-style-type: none;
  padding: 0;
}
li {
  font-family: 'Goldman', cursive;
  display: inline-block;
  font-size: 30px;
  color: hsl(199, 56%, 60%);
}
li:hover {
  color: #b8b8b8;
}
/* Footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: hsl(205, 42%, 39%);
    padding: 10px;
    width: 100%;
}

footer p {
  text-align: center;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 24px;
  color: hsl(199, 56%, 60%);
}
/* image carousel */
.container {
  margin: 0px;
  position: relative;
  top: 20px;
  left: 300px;
}
.carousel-inner > .item > img {
    width:640px;
    height:400px;
  }
  HTML CSSResult Skip Results Iframe

/* mobile */
