@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

html, body {
    height: 100%;
}
.tccmakerspacetop{
    background-color: hsl(205, 42%, 39%); 
    padding: 20px;
}
#catchphrase {
    font-family: 'Goldman', cursive;
    padding-top: 5px;
    margin-top: -5px;
    margin-bottom: -20px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    
}
#tccmakerspace {
    color: white;
    font-size: 50px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
#tccmakerspace:hover {
    color:#b8b8b8;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: hsl(205, 42%, 39%);
    padding: 20px;
    width: 100%;
}
#logo {
  padding-left: 200px;
}

#minilogo {
    padding-top: -10px;
    margin-top: -25px;
    margin-right: -10px;
    margin-left: -5px;
}
.topmenu {
    font-family: 'Goldman', cursive;
    background-color: hsl(205, 42%, 39%);
    color: hsl(199, 56%, 60%);
    font-size: 30px;
    padding-left: 2px;
    margin-bottom: -20px;
}
a:hover {
    color: #b8b8b8;
}

.container {
  padding-top: 50px; 
}