@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap");
a {
    color: white;
}
a:hover {
    color:#b8b8b8;
}
.tccmakerspace{
    background-color: hsl(205, 42%, 39%);
    padding: 20px;
}
#catchphrase {
    padding-top: 5px;
    margin-top: -5px;
    font-size: 20px;
    font-weight: 200;
    font-family: arial;
    color: white;
    
}
#tccmakerspace {
    font-size: 50px;
    font-family: 'Big Shoulders Stencil Text', cursive;
}
